@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

h1 {
  color: #e9c46a;
  text-shadow: 5px 5px 5px black;
  background: #264653;
  text-align: center;
  font-size: 64px;
  font-family: "Oswald", sans-serif;
}

h2 {
  text-decoration: underline;
}

body {
  font-family: "Fira Code", monospace;
}

aside {
  background-color: #264653;
  display: inline-block;
  padding: 1em;
  box-shadow: 10px 5px 5px black;
  color: #f4f1de;
  max-width: 30%;
}

.logo {
  width: 40px;
  height: 40px;
}

footer {
  margin-top: 2rem;
  color: #f4f1de;
  background: #2a9d8f;
  text-align: center;
  font-size: 10px;
  padding: 10px;
}

strong {
  color: #e9c46a;
}

figcaption {
  background-color: whitesmoke;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  color: black;
}

figure {
  display: inline-block;
  width: 80%;
  text-align: center;
}

.lang {
  font-size: 15px;
}

.profil {
  width: 35%;
}
mark {
  text-decoration: none;
}
.travail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.parcoursPro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

;
}
.formations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .formation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  ;
  }
.experience {
  background-color: #e76f51;
  color: #13272f;
  display: inline-block;
  vertical-align: top;

  padding: 15px;
  box-shadow: 10px 5px 5px black;
  margin-left: 1em;
  max-width: 60%;
}
